<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Admin</h2>
            <h4>example@gmail.com</h4>
        </div>
        <img src="./assets/images/profil.png" alt="">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerlinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerlinkActive="list-item-active" routerLink="/posts">Players</a>
    <a mat-list-item routerinkActive="list-item-active" routerLink="/articles">Articles</a>
    <mat-divider></mat-divider>
    
    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerlinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts</a>
    <a mat-list-item routerlinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>
</mat-nav-list>
