<div class="title">
    Most Valuable Players
</div>
<br>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="stats-cards">
    <mat-card fxFlax="25" class="top last">
        <mat-card-title>
            Mohamed Salah

            
        </mat-card-title>  
        <h4>100 million €
        </h4>
        
        <img mat-card-image  class="playerimg" src="./assets/images/salah.png" alt="">
    </mat-card>
    <mat-card  class="top second" >
        <mat-card-title>
            Erling Haaland
            
        </mat-card-title>  
        <h4>150 million €
        </h4>
        <img mat-card-image  src="./assets/images/haland.png" alt="">  
    </mat-card>
    <mat-card fxFlax="25" class="top" id="center">
        <mat-card-title>
            Kylian Mbappé
            
        </mat-card-title>
        <h4>160 million €
        </h4>      
        <img mat-card-image class="playerimg" src="./assets/images/mbape.png" alt="">
    </mat-card>
    <mat-card  class="top second">
        <mat-card-title>
            Vinicius Junior
            
        </mat-card-title>    
        <h4>100 million €
        </h4>
        <img mat-card-image class="playerimg" src="./assets/images/Vinicius.png" alt="">
    </mat-card>
    <mat-card fxFlax="25" class="top last">
        <mat-card-title>
            Harry Kane
            
        </mat-card-title> 
        <h4>100 million €
        </h4> 
        <img mat-card-image class="playerimg" src="./assets/images/Harry.png" alt="">  
    </mat-card>


</div>
<br>
<mat-divider></mat-divider>
<br>
    <mat-card fxFlax="100" class="heat">
        <div id="'heat">
            
            <mat-card-title>
                HeatMap
                
            </mat-card-title>
            <img src="./assets/images/heatmap.png" alt="">
        </div>
        
    </mat-card>

<br>
<mat-divider></mat-divider>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="stats-cards">
    <br>
<mat-card class="value">
    <mat-card-title>
        Players' value is determined by the number of goals and assists they have scored.
        
    </mat-card-title>    
    
    <img mat-card-image class="playerimg" src="./assets/images/goalsval.png" alt="">
</mat-card>
<mat-card class="value">
    <mat-card-title>
        Players' value  by the number of goals and Number of times they played.
        
    </mat-card-title>    
    
    <img mat-card-image class="playerimg" src="./assets/images/goalsvalapt.png" alt="">
</mat-card>
<br>
</div>
<mat-divider></mat-divider>
<br>
<mat-divider></mat-divider>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="stats-cards">
    <mat-card >
    <div class="one">
        <mat-card-title>
            Density of Players in each position
            
        </mat-card-title> 
       
        <img src="./assets/images/positions.png" alt="">
    </div>
</mat-card>
</div>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="stats-cards">
<mat-card >
    <div class="one">
        <mat-card-title>
            Nationalities That Have the most Valuable Players
            
        </mat-card-title> 
       
        <img src="./assets/images/nationality.png" alt="" id="nat">
    </div>
</mat-card>
</div>